@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Burger-Icon */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 3px;
    border: 1px solid lightgrey;
    background-color: lightgray;
    border-radius: 3px;
    padding: 3px;
}

.burger span {
    width: 25px;
    height: 3px;
    background: black;
    display: block;
    border-radius: 1px solid black;

}

.content-limitation-header {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    max-width: 1440px;
    width: 100%;
}

header img {
    width: 200;
    height: 60px;
}

.links {
    height: 104px;
    display: flex;
    align-items: flex-end;

}

header a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    transition: background-color 125ms ease, color 125ms ease-in-out;
}

header a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 20px;
}

.seperator-line-header {
    background-color: #efefef;
    object-fit: cover;
    height: 4px;
}

.content-limitation-one {
    display: flex;
    justify-content: center;
}


.section-one {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
}

.recipe {
    background-image: url(/img/gourmet-5619887_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 1440px;
}

.recipe-penne {
    background-image: url(/img/pasta-arrabiata.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 1440px;
}

.recipe-tiramisu {
    background-image: url(/img/tiramisu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 1440px;
}

.recipe-pizza {
    background-image: url(/img/pizza-frutti-di-mare.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 1440px;
}

.recipe-panna-cotta {
    background-image: url(/img/panna-cotta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 1440px;
}

.icon-box {
    display: flex;
    gap: 20px;
    padding-bottom: 60px;
}

.icon {
    width: 16px;
    height: auto;
}

.icon-border {
    display: flex;
    gap: 10px;
    background-color: #efefef;
    padding: 4px 8px;
    border-radius: 8px;
}

.seperator-line {
    background-color: #efefef;
    object-fit: cover;
    height: 2px;

}

.content-limitation-table {
    display: flex;
    justify-content: center;
}


.section-table {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.res-input {
    display: flex;
}

label {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

input {
    border: 1px solid #efefef;
    text-align: center;
    border-radius: 8px 0 0 8px;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 34px;
}

input::placeholder {
    color: black;
    font-size: 16px;
}

#calculate {
    background-color: #008000;
    color: white;
    padding: 8px 32px;
    border: none;
    width: 135px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 125ms ease, color 125ms ease-in-out;
}

#calculate:hover {
    background-color: #093a0b;
    scale: 1.2;

}

td {
    padding: 10px 20px;
    border-radius: 10px;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;

}

.content-limitation-article {
    display: flex;
    justify-content: center;

}

.preparation {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

h4 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.profile img {
    width: 100px;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

span {
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
}

.content-limitation {
    display: flex;
    justify-content: center;
    background-color: #403b3b;
}

footer {
    max-width: 1440px;
    width: 100%;
    padding: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social-media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;
}

.social-media:hover {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

.legal-section a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 125ms ease;
    font-weight: bold;
}

.legal-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 30px;
    border-radius: 6px;
    transition: background-color 125ms ease, color 125ms ease-in-out;
}

.legal-section a:hover,
.legal-section a:focus {
    color: black;
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

/* arrabbiata-recipe */
.quantity {
    font-size: 16px;
}

.padding-bottom {
    padding-bottom: 40px;
}

@media(max-width:800px) {

    header {
        padding-right: 20px;
        padding-left: 20px;
    }

    .burger {
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1100;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;

    }

    .links {
        display: none;
        position: fixed;
        top: 60px;
        right: 20px;
        height: 130px;
        background: white;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        text-align: right;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 1090;
    }

    .links.open {
        display: flex;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
    }

    .icon-box {
        flex-direction: column;
        gap: 10px;
    }

    .input-container {}

    /* #calculate {
        flex: 1;
    } */

    .res-input {
        flex: 1;
    }

    .section-one {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-table {
        padding-left: 20px;
        padding-right: 20px;
    }

    .preparation {
        padding-left: 20px;
        padding-right: 20px;
    } 
}

    @media(max-width: 470px) {
        .input-container {
            flex-direction: column;
            align-items: flex-start;
        }

        .res-input {
            padding-top: 10px;
            width: 100%;
        }
    }