html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    padding: 0 120px;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;

}

header img {
    width: 200;
    height: 60px;
}

header a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

header a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

main {
    flex: 1;
}

/* 
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.social-media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 250ms ease;
}

.social-media:hover {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

footer {
    padding: 80px;
    background-color: #403b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.legal-section a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms ease;
    font-weight: bold;
}

.legal-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 30px;
    border-radius: 6px;
    transition: background-color 250ms ease, color 250ms ease-in-out;
}

.legal-section a:hover,
.legal-section a:focus {
    color: black;
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

.headline-good-to-know {
    text-align: center;
    margin-top: 80px;
}

.good-to-know-img {
    height: 240px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}

.text-img-good-to-know {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.img-width-30 {
    width: 30%;
}

.text-width-70 {
    width: 70%;
}

/* Hauptgericht Rezept */

.pasta-arrabbiata-img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

.facts {
    display: flex;
    gap: 20px;
    padding: 20px 0 80px 0;
}

.fact-text {
    display: flex;
    gap: 10px;
    background-color: #efefef;
    padding: 4px 8px;
    border-radius: 8px;
}

.fact-icon {
    width: 12px;
    height: auto;
}

.seperator-line {
    background-color: #efefef;
    object-fit: cover;
    height: 2px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

form {
    display: flex;
    margin-left: 10px;
}

input {
    padding: 5px 20px 5px 0;
    border: 1px solid #efefef;
}

input::placeholder {
    color: black;
}

.input-btn {
    background-color: #008000;
    color: white;
    padding: 6px 24px;
    border: none;
    text-decoration: none;
}

.grey-row {
    background-color: #efefef;
    ;
}