* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway",sans-serif;


}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;

}

header img {
    width: 200;
    height: 60px;
}

header a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

header a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.seperator-line-header {
    background-color: #efefef;
    object-fit: cover;
    height: 4px;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 15px;
}

.section-one-img {
    width: 37%;
    height: 420px;
    border-radius: 10px;
    object-fit: cover;
}

.Section-one-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    width: 50%;
}

.button-to-rezept {
    background-color: #008000;
    font-size: 25px;
    color: white;
    border-style: none;
    padding: 17px 90px;
    margin-top: 80px;
    cursor: pointer;
}


.kevin {
    background-color: #efefef;
    padding: 20px 120px;

}


h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 32px;
}

.quicklinks {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    text-align: center;
}

.quicklinks img {
    aspect-ratio: 1/1;
    width: 200px;
    border-radius: 10px;

}

.quicklinks img:hover {
    scale: 1.2;
    border-radius: 20px;
}

.social-media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 250ms ease;
}

.social-media:hover {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

footer {
    padding: 80px;
    background-color: #403b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.legal-section a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms ease;
    font-weight: bold;
}

.legal-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 30px;
    border-radius: 6px;
    transition: background-color 250ms ease, color 250ms ease-in-out;
}

.legal-section a:hover,
.legal-section a:focus {
    color: black;
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

.headline-good-to-know {
    text-align: center;
    margin-top: 80px;
}

.good-to-know {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
}

.good-to-know-img {
    height: 240px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}

.text-img-good-to-know {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.img-width-30 {
    width: 30%;
}

.text-width-70 {
    width: 70%;
}