* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    
}
header img{
    width: 200;
    height: 60px;
}
header a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
}
header a:hover{
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}
main{
    padding: 20px 120px;
}

.kevin{
        background-color: #f0f0f0;
}
h2{
    font-size: 26px;
    text-align: center;
    margin-bottom: 32px;
}
.quicklinks{

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quicklinks img{
    aspect-ratio: 1/1;
    width: 200px;
    border-radius: 10px;
}
.quicklinks img:hover{
scale: 1.2;
border-radius: 20px;
}
footer{
    background-color: #403b3b;
    height: 200px;
    
}
h1{
    margin-bottom: 20px;
}
.recipe{
    background-image: url(./img/gourmet-5619887_640.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 200px;
   margin-bottom: 20px;
   border-radius: 10px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
table{
    width: 100%;
}
td{
    padding: 10px 20px;
    border-radius: 10px;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
back
}